body {
    color: black;
    background: #04e3eb;
    background-position: top left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Benne', serif;
    
  }

h1,h2
{
   font-family: 'Benne', serif;
   color: black;
    text-align: center;
}
h3
{
   font-family: 'Benne', serif;
   color: black;
}  
  
  .nav {
    font-family: sans-serif;
  }
 
  p:hover {
  background-color: #04e3eb;
  font-family: 'Benne', serif;
  font-family: 'Crimson Text', serif;
}
.aegeon
{    
    color: rgb(205, 90, 176);
}
.duke-solinus
{    
    color: rgb(63, 163, 38);
}
.gaoelr
{    
    color: rgb(32, 141, 90);
}
table{
    border-collapse: collapse;
    border-spacing: 0px;
    border-bottom: 1px,solid #1e3642;
    margin-bottom: 6%;
}
td,th{
    padding: 5px 10px;
    text-align: center;
}
th{
    font-weight: bold;
    color: #1e3642;
}
thead tr{
    border-bottom: 2px solid #1e3642;
}
tbody th{
    border-right: 2px solid #1e3642;
    text-align: right;
    border-left: 2px solid #1e3642;
}
td{
    background-color: #ee7a7a;    
    border-right: 1px solid #1e3642;
    border-left: 1px solid #1e3642;
}
tr.even td{
   background-color: #ee7a7a; 
}
table.striped{
    border-collapse: collapse;
    border-spacing: 10px;
    border-bottom: 1px,solid #1e3642;
}
table.striped td, table.striped th{
    padding: 3px, 10px;
    text-align: center;
}
table.striped th{
    font-weight: bold;
    color: #1e3642;
    border-right: 1px solid #1e3642;
    text-align: right;
    border-left:1px solid #1e3642;
    border-top: 1px solid #1e3642;
}
table.striped thead tr{
    border-bottom: 1px,solid #1e3642;
}
table.striped thead th{
    border-right: 1px solid #1e3642;
    text-align: right;
}
table.striped td{
    background-color: #ee7a7a;
    border-bottom: 1px solid #1e3642;
}
table.striped tr.even td{
    background-color: #ee7a7a;
}
.aegeon:hover {
    text-shadow: 2px 2px rgb(217, 255, 0);
    box-shadow: 2px 2px rgb(243, 10, 10);
}
.duke-solinus:hover {
      text-shadow: 2px 2px rgb(217, 255, 0);
      box-shadow: 3px 3px rgb(243, 10, 10);
}
.gaoelr:hover {
    text-shadow: 2px 2px rgb(217, 255, 0);
    box-shadow: 2px 2px rgb(243, 10, 10);
    }




